h1{
    font-size: 70px;
    font-style: italic;
    color: rgb(130, 11, 148);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Times New Roman', Times, serif;
    font-weight: lighter;
    
}